body {
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	font-weight: 500; /*medium*/
	font-family: Roboto, Arial, sans-serif;
}

h1 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700; /*bold*/
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
	margin-bottom: 10px;

	background-color: #859e90;
} 

.container {
	width: 1146px;
	margin: 0 auto;
}

.logo {
	width: 153px;
	float: left;

	background-color: #859e90;
}

.navigation {
	float: left;
	width: 726px;
	
	background-color: #859e90;
}

.main-navigation li {
	display: inline-block;
	padding-right: 30px;
	list-style: none;
	
}

.main-navigation a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #9eb3a8;
} 

.drop-down li {
	display: none;
}
/*
 .drop-down li:hover {
	display: block;
}*/

.user-block {
	float: right;
	width: 267px;
	
	background-color: #9db1a6;
}

.search-block {
	display: block;
	margin-top: 10px;
	padding: 10px;
	width: 23px;
/*	width: 32px;
	height: 32px;
	background: #9db1a6;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;*/

	background-color: #d539ab
}


.search-block-drop-down {
	display: none;
}

.account {
	display: block;
	margin-top: 10px;
	padding: 10px;
	width: 90px;
	color: #fff;
}

.account-drop-down {
	display: none;
}

.index-slider {
	width: 1146px;
	height: 564px;
	visibility: hidden;

	background-color: #b482cb;
}

.banner-wrapper {
	margin-bottom: 42px;

	background-color: #fea214;
}

.raspberry {
	float: left;
	width: 560px;
	min-height: 229px;
	background-image: url("raspberry-banner.png");
}

.chocolate {
	float: right;
	width: 560px;
	min-height: 229px;
	background-image: url("chocolate-banner.png")
}

.product-wrapper {
	width: 1146px;
	/*margin-bottom: 40px;*/

	background-color: #849d8f;
}

.product-item {
	float: left;
	width: 267px;
	vertical-align: top;
	margin-right: 26px;
	margin-bottom: 40px;
}

.product-item:nth-child(4n+4) {
	margin-right: 0px;
}

.about-us {
	width: 1146px;
	min-height: 247px;
	background-image: url("wafer.jpg");
	background-repeat: repeat;
}

.new-blog {
	float: left;
	width: 560px;
	height: 220px;
	background-image: url("blog-background.png");
}

.post-dispatch {
	float: right;
	width: 560px;
	height: 220px;
	background-image: url("post-dispatch.png");
}

.map-wrapper {
	background-color: #fe7;
}

.map + .container {
	padding: 62px 0;
}

.address {
	width: 244px;
	min-height: 307px;
	background-color: #aacbd9;
	padding: 30px;
	margin-left: 842px;
}

.box-feedback {
	display: none;
}

.main-footer {
	padding-top: 21px;

	background-color: #8aa806;
}

.footer-social {
	float: left;
	width: 186px;
	margin-right: 100px;

	background-color: #ffec97;
}

/*.social-btn {
	float: left;
}*/

.footer-info {
	float: left;
	width: 327px;

	background-color: #ffec97;

}

.footer-copyright {
	float: right;
	width: 192px;

	background-color: #ffec97;
}



.basket-drop-down {
	display: none;
}

.block-sorting {
	background-color: #b0c0b7;
}

.sorting-item {
	float: left;
	margin-bottom: 18px;
}

.sorting {
	float: left;
	width: 194px;
	margin-right: 16px;
}

.price {
	float: left;
	width: 218px;
	margin-right: 16px;
}

.fat-content {
	float: left;
	width: 418px;
}

.sorting-topings {
	float: left;
	margin-bottom: 40px;
}


